<h1>All Tags</h1>

<ul id="tags">
  <% @tags.each do |tag| %>
  <li>
    <%= link_to tag.name, tag_path(tag) %>
    <%= link_to "delete", tag_path(@tags), method: :delete, data: {confirm: "Really delete this tag?"} %>
    <% end %>
  </li>
</ul>
